mixin alert()
  - if (messages.success || messages.error|| messages.warning)
      div(id="flashMessage" 
          data-message= messages.success || messages.error||messages.warning
          data-type= messages.success ? 'success' : (messages.warning?"warning":"error")
          style="display: none;"
          )